<!DOCTYPE html><html lang="en"><head><title>Classes</title><%- include('../views/globalhead'); %></head><body>
    <div id="navbar">
        <a href="/">Home</a>
        <a class="active" href="/admin?password=<%= password %>">Admin</a>
        <a href="/tklog?password=<%= password %>">TK Log</a>
        <a href="/iplog?password=<%= password %>">IP Log</a>
        <a href="/analytics?password=<%= password %>">Analytics</a>
      </div>
    
    <div style="font-size: 25px;" class="sub-table-info" id="message-container"><u>Admin views:</u><br><ul>
    <!-- <li><a class="sub-table-link" href="/class/soft1">Software 1</a></li>
    <br> -->
    <li><a class="sub-table-link" href="/tklog?password=<%= password %>">TK Log</a></li>
    <!-- <li><a class="sub-table-link" href="/class/hcil">HCI Lecture</a></li> -->
    <br>
    <li><a class="sub-table-link" href="/iplog?password=<%= password %>">IP Log</a></li>
    <br>
    <li><a class="sub-table-link" href="/analytics?password=<%= password %>">Analytics (not available)</a></li>
    <!-- <li><a class="sub-table-link" href="/class/transition">Transition to University</a></li> -->
    </ul></div></body></html>